{% extends 'layout.html' %}

{% block body %}
<section style="background-image: url(static/images/9.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1><b>Log In</b></h1>
			   <p>You don't have a password? Then please <a class="white" href="{{  url_for('login') }}">Sign Up</a></p> 
				<!-- Sign Up Form -->
				<div class="form-container">
					<form action="{{  url_for('login')}}" method="post">
						<div class="form-group">
							<input type="email" class="form-control-input" id="email" required>
							<label class="label-control" for="email">Email</label>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control-input" id="password" required>
							<label class="label-control" for="password">Password</label>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<button  class="form-control-submit-button" type="submit" style="background-color: antiquewhite; border-radius: 10px;">Login</button>
						</div>
						<div class="form-message">
							<div id="lmsgSubmit" class="h3 text-center hidden"></div>
						</div>
					</form>
				</div> <!-- end of form container -->
				<!-- end of sign up form -->

			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><b>Sign Up</b></h1>
                   <p>Fill out the form below to sign up for Tivo. Already signed up? Then just <a class="white" href="{{  url_for('login') }}">Log In</a></p> 
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        <form action="{{  url_for('signup')}}" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="email" required>
                                <label class="label-control" for="email">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required>
                                <label class="label-control" for="name">Name</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="password" required>
                                <label class="label-control" for="password">Password</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="sterms" value="Agreed-to-Terms" required>I agree with Tivo's <a href="{{  url_for('signup') }}">Privacy Policy</a> and <a href="{{  url_for('login') }}">Terms Conditions</a>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
								<button  class="form-control-submit-button" type ="submit" style="background-color: antiquewhite; border-radius: 10px;">Signup</button>
                            </div>
                            <div class="form-message">
                                <div id="smsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                    <h1><b>Appointment Request Form</b></h1>
                    <form action="{{ url_for('send_email') }}" method="post">
                        <label for="name">Name:</label>
                        <input type="text" name="name" required><br>
                
                        <label for="email">Email:</label>
                        <input type="email" name="email" required><br>
                
                        <label for="date">Date:</label>
                        <input type="date" name="date" required><br>
                        
                        <label for="time">Time:</label>
                        <input type="time" name="time" min="09:00" max="18:00" required><br>

                        <label for="phone">Phone No:</label>
                        <input type="number" name="number" required><br>
                
                        <label for="details">Appointment Details:</label>
                        <textarea name="details" rows="5" cols="40" required></textarea><br>
                
                        <input class="form-control-submit-button" type="submit" value="Submit" style="background-color: antiquewhite; border-radius: 10px;">
                    </form>
                    </div>
                </div>
            </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
</section> 


  {% endblock %}
