{% extends 'disease-result.html' %}{% block body %}
    <section class="breadcrumb-option spad set-bg" data-setbg="static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Services</h2>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Services Section Begin -->
    <section class="services-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-2">
                    <div class="services__details">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__details__title">
                                    <span>Facial procedures</span>
                                    <h3>Min Facelift</h3>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__details__widget">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h3>$ 159.50</h3>
                                </div>
                            </div>
                        </div>
                        <div class="services__details__pic">
                            <img src="static/img/services/services-details.jpg" alt="">
                        </div>
                        <div class="services__details__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis magnam aliquid. Cupiditate!</p>
                            <p>Aut ipsam consequuntur non rem tenetur dolore consequatur ducimus a labore excepturi quae
                            nisi, quisquam, maxime voluptates magnam aliquid.</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="static/img/services/sd-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="static/img/services/sd-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="services__details__item__pic">
                                    <img src="static/img/services/sd-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="services__details__desc">
                            <p>Atque eum alias debitis suscipit, sint dignissimos minus quisquam recusandae nostrum quas
                                eligendi odit, fugiat eius rem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul class="services__details__feature">
                                        <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                                        <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                                        <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                                        <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul class="services__details__feature">
                                        <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                                        <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                                        <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                                        <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eum alias debitis
                                suscipit, sint dignissimos minus quisquam recusandae nostrum quas eligendi odit, fugiat
                                eius rem. Cumque, labore placeat! Velit, vitae. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-lg-1">
                    <div class="services__sidebar">
                        <div class="services__accordion">
                            <div class="services__title">
                                <h4><img src="static/img/icons/services-icon.png" alt=""> All services</h4>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading active">
                                        <a data-toggle="collapse" data-target="#collapseOne">
                                            Facial Procedures
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Facelift</a></li>
                                                <li><a href="#">Mini facelift</a></li>
                                                <li><a href="#">Eyelid lift</a></li>
                                                <li><a href="#">Brow lift</a></li>
                                                <li><a href="#">Rhinoplasty</a></li>
                                                <li><a href="#">Chin implants</a></li>
                                                <li><a href="#">Facial fillers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">
                                            Body Procedures
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Facelift</a></li>
                                                <li><a href="#">Mini facelift</a></li>
                                                <li><a href="#">Eyelid lift</a></li>
                                                <li><a href="#">Brow lift</a></li>
                                                <li><a href="#">Rhinoplasty</a></li>
                                                <li><a href="#">Chin implants</a></li>
                                                <li><a href="#">Facial fillers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">
                                            Breast procedures
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Facelift</a></li>
                                                <li><a href="#">Mini facelift</a></li>
                                                <li><a href="#">Eyelid lift</a></li>
                                                <li><a href="#">Brow lift</a></li>
                                                <li><a href="#">Rhinoplasty</a></li>
                                                <li><a href="#">Chin implants</a></li>
                                                <li><a href="#">Facial fillers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">
                                            Buttocks
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Facelift</a></li>
                                                <li><a href="#">Mini facelift</a></li>
                                                <li><a href="#">Eyelid lift</a></li>
                                                <li><a href="#">Brow lift</a></li>
                                                <li><a href="#">Rhinoplasty</a></li>
                                                <li><a href="#">Chin implants</a></li>
                                                <li><a href="#">Facial fillers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">
                                            Skin care
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Facelift</a></li>
                                                <li><a href="#">Mini facelift</a></li>
                                                <li><a href="#">Eyelid lift</a></li>
                                                <li><a href="#">Brow lift</a></li>
                                                <li><a href="#">Rhinoplasty</a></li>
                                                <li><a href="#">Chin implants</a></li>
                                                <li><a href="#">Facial fillers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__appoinment">
                        <div class="services__title">
                            <h4><img src="static/img/icons/services-icon.png" alt=""> Get an appointment</h4>
                        </div>
                        <form action="{{ url_for('send_email') }}" method="post">
                            <label for="name">Name:</label>
                            <input type="text" placeholder="Name">
                            <label for="email">Email:</label>
                            <input type="text" placeholder="Email">
                            <div class="datepicker__item">
                                <label for="date">Date:</label>
                                <input type="text" placeholder="Date" class="datepicker">
                            </div>
                            <select>
                                <option value="1">Type of service</option>
                                <option value="2">Advanced equipment</option>
                                <option value="3">Qualified doctors</option>
                                <option value="4">Certified services</option>
                                <option value="5">Emergency care</option>
                            </select>
                            <button type="submit" value="submit" class="site-btn">Book appoitment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}